.section:nth-child(2) {
  background-image: url("../../img/section2.jpg");
  background-size: cover;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 50%;
  right: 1%;
  width: 47px;
  height: 75px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  width: 47px;
  height: 75px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}
.slider img {
  height: 324px;
}
