body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 900px;
  min-width: 50%;
  max-width: 100%;
  min-height: 3000px;
}

.section:nth-child(2) {
  height: 500px;
}

.section-img {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.section-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  object-fit: cover;
}

.slick-slide {
  margin: 0 5px;
}

button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 50%;
  right: 1%;
  width: 47px;
  height: 75px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  width: 47px;
  height: 75px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}

.slider img {
  height: 324px;
  width: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
